/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.container {
  padding: 0 1rem;
}

// .form-container {
  // max-width: 1000px;
  
// }

.form-container {
  width: 1000px;
  margin: 0 auto;
}

.rating {
  width: 100px;
}

.tile {
  width: 80%;
  margin: 0 0 0 20%;
  border-top: 2px solid #3f2301;
  position: relative;
  padding-top: 0.6rem;
  padding-bottom: 4rem;
}

.tile:hover {
  opacity: 0.8;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

h5 {
  width: 80%;
  margin: 0 0 0 20%;
  padding-bottom: 0rem;
}

p {
  padding:0;
  margin:0;
}

body {
  background-color: #ecd7b8;
  color: #3f2301;
}

.index.tile.link {
  color: #3f2301;
}

.index.header {
  padding: 5vw 0vw 5vw 5vw;
  min-width: 100rem;
}

.coffee-navbar {
  background-image: image-url("coffeebeans.png");
  background-size: contain;
}

.arrow {
  font-weight: 700;
  font-size: 2rem;
  text-align: right;
}

.button {
  background-color: #3f2301;
  border: 1px solid black;
}

.show-address {
  padding-bottom: 1rem;
}

.show-description {
  padding: 0 1rem 1rem 1rem;
}

.about-us-detail{
  color:#3f2301;
  padding: 0 1rem 1rem 0rem;
}

.show.add-review.button {
  margin: 2rem 0 2rem 1rem;
}