/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

// .index.container {
//  background-color: lightseagreen;
//  padding: 5px;
//  }
// .index.title {
//   background-color: lightblue;
// }
// .index.list {
//   background-color: lightcoral;
// }
.index.tile {
  width: 80%;
  margin-left: 20%;
  margin-top: 0;
  margin-bottom: 6rem;
  border-top-style: solid;
  border-top-width: 1px;
  position: relative;
  padding-top: 0.6rem;
  font-size: 1.9rem;
  line-height: 1.4;
  font-weight: normal;
}

body {
  background-color: #ecd7b8;
}
